 <div class="row">
<div class="col">
  
</div>
<div class="col">
  <div class="" style="margin-top:250px;">
<div>
  <a href="/quizzes/select/1" style="font-size:35px;" class="">勉強</a>
</div>
 <div>
  <a href="/quizzes/select/2" style="font-size:35px;" class="">趣味</a>
</div>
 <div>
  <a href="/quizzes/select/3" style="font-size:35px;" class="">その他</a>
</div>
  </div>
</div>
<div class="col">
  
</div>
</div>
