<select class="form-select" aria-label="Default select example">
         <option selected>ジャンルを選択してください</option>
         <option value="1">英語</option>
         <option value="2">音楽</option>
         <option value="3">動物</option>
       </select> 
       <a href="/quizzes/select" class="btn btn-success btn-lg">sample</a>