<form>
   <div class="mb-3">
    <label for="question" class="form-label">問題文</label>
    <textarea name="question" rows="3" cols="150"></textarea>
  </div>
  <div class="mb-3" style="width:300px;">
    <label for="choice_1" class="form-label">選択肢１</label>
    <input type="text" name="choice_1" class="form-control" id="title" >
  </div><div class="mb-3" style="width:300px;">
    <label for="choice_2" class="form-label">選択肢２</label>
    <input type="text" name="choice_2" class="form-control" id="title" >
  </div><div class="mb-3" style="width:300px;">
    <label for="choice_3" class="form-label">選択肢３</label>
    <input type="text" name="choice_3" class="form-control" id="title" >
  </div><div class="mb-3" style="width:300px;">
    <label for="choice_4" class="form-label">選択肢４</label>
    <input type="text" name="choice_4" class="form-control" id="title" >
    </div><div class="mb-3" style="width:300px;">
    <label for="answer" class="form-label">答え</label>
     <select class="form-select" aria-label="Default select example">
  　　　　<option selected></option>
  　　　　<option value="1">選択肢１</option>
  　　　　<option value="2">選択肢２</option>
　　　　　<option value="3">選択肢３</option>
　　　　　<option value="4">選択肢４</option>
　　　　</select>
  </div>
  <a href="/quizzes/opening" class="btn btn-warning btn-lg">完了</a>
</form>
