<div class="row">
<div class="col">
  
</div>
<div class="col">
  <div class="d-flex align-items-center mt-10" style="margin-top:350px;">
    <a href="/quizzes/new" class="btn btn-primary btn-lg" style="margin-right:20px;">作る</a>
    <a href="/genres/select" class="btn btn-success btn-lg">解く</a>
  </div>
</div>
<div class="col">
  
</div>
</div>