<div style="margin-left:100px; margin-top:200px">
<%=@text%>
</div>
<div style="margin-left:100px">
解答は<%=@answer_text%>
</div>
<a href="/quizzes/opening" style="margin-left:100px" class="btn btn-danger btn-lg">戻る</a>