<div>
過去分詞の使い方
</div>
<div>
問題文
</div>
<div>
<a href="/quizzes/result" class="btn btn-danger btn-lg">選択肢１</a>
</div>
<div>
<a href="/quizzes/result" class="btn btn-primary btn-lg">選択肢２</a>
</div>
<div>
<a href="/quizzes/result" class="btn btn-warning btn-lg">選択肢３</a>
</div>
<div>
<a href="/quizzes/result" class="btn btn-success btn-lg">選択肢４</a>
</div>
