<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        
        <a href="/users/new" style="font-size:35px;" class="btn btn-block btn-white"> 
         Sign up 
        <a>
      </div>
      <div class="col-md-3"> 
       <a href="/login" style="font-size:35px;" class="btn btn-block btn-white"> 
       Log in
        <a>
      

      </div>
    </div>
  </div>
</div>